@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 40 33% 96%;
    --foreground: 220 25% 20%;
    --card: 40 33% 96%;
    --card-foreground: 220 25% 20%;
    --popover: 40 33% 96%;
    --popover-foreground: 220 25% 20%;
    --primary: 34 46% 54%;
    --primary-foreground: 40 33% 98%;
    --secondary: 40 10% 90%;
    --secondary-foreground: 220 25% 20%;
    --muted: 40 10% 90%;
    --muted-foreground: 220 25% 40%;
    --accent: 0 56% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 40 10% 85%;
    --input: 40 10% 85%;
    --ring: 34 46% 54%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 46% 18%;
    --background-rgb: 25, 40, 65;
    --foreground: 34 30% 85%;
    --card: 220 40% 22%;
    --card-foreground: 34 30% 85%;
    --popover: 220 46% 18%;
    --popover-foreground: 34 30% 85%;
    --primary: 34 46% 64%;
    --primary-foreground: 220 46% 10%;
    --secondary: 220 40% 25%;
    --secondary-foreground: 34 46% 74%;
    --muted: 220 40% 25%;
    --muted-foreground: 220 20% 65%;
    --accent: 0 56% 42%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 40% 30%;
    --input: 220 40% 30%;
    --ring: 34 46% 64%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark body {
    background-image: radial-gradient(ellipse at top, hsla(var(--background-rgb), 0.3), hsla(var(--background-rgb), 1) 70%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
